<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h3>Checking Saeeds deeplinking</h3>

<h4><a href='testing://testing.com/details/115'>Click Here to open the application</a></h4>


<h4><a href='testapp://test.com/details/115'>Click Here to open the  Saeed's application</a></h4>
